@use "../../variables/index" as *;
@use "../../base/index" as *;
@use "../animatiom/shine" as *;

.banner_under_about {
  min-height: 60vh;
  position: relative;
  isolation: isolate;
  background: url(../images/images-moto/34.png) center / cover no-repeat fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner_under_about::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    $background-color,
    rgba(0, 0, 0, 0.6),
    $background-color
  );
}
