@use "../../variables/index" as *;
@use "../../base/index" as *;
@use "../../layout/index.scss" as *;

.about_container {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: $background-color;
  padding: 2rem;
}

.about_container::before {
  content: "";
  position: absolute;
  inset: -200px;
  background:
    radial-gradient(
      circle at 20% 20%,
      rgba(168, 105, 4, 0.25),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 40%,
      rgba(255, 255, 255, 0.08),
      transparent 45%
    ),
    radial-gradient(circle at 40% 80%, rgba(168, 105, 4, 0.15), transparent 50%);

  filter: blur(60px);
  z-index: 0;
}

.about_grid {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  position: relative;
}

.about_card {
  position: relative;
  max-width: 340px;
  margin-inline: auto;
  text-align: center;
  padding: 2rem 1.2rem;
  border-radius: 2rem;
  background: $background-second;
  border: 1px solid rgba(168, 105, 4, 0.3);
  color: $extra-light;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: all 0.35s ease;
}

.about_card:hover {
  box-shadow: 0px 2px 20px rgba(70, 36, 2, 0.747);
  border-color: $gold-main;
  transform: translateY(-14px) scale(1.03);
}

.about_card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(107, 75, 1, 0.777),
    transparent
  );
  transform: skewX(-20deg);
  animation: shine 4s ease infinite;
}

.about_card:hover::before {
  animation: none;
}

.about_card span {
  display: inline-block;
  color: $golden;
  background-color: #f3f4f6;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  padding: 0.7rem 1.2rem;
  border-radius: 1.25rem;
  background: rgb(231, 221, 221);
  backdrop-filter: blur(10px);
}

.about_card h4 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: $goldenrod;
  text-transform: uppercase;
}

.about_card p {
  line-height: 1.5rem;
  font-size: 1rem;
}
