@use "../../variables/index" as *;
@use "../../base/index" as *;
@use "../../layout/banner_container" as *;

.banner-near-footer {
  min-height: 100vh;
  position: relative;
  background: url(../images/images-moto/19.png) center / cover no-repeat fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-near-footer::before {
  position: absolute;
  content: "";
  height: 50%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    $background-color,
    rgba(0, 0, 0, 0)
  );
  z-index: -1;
}

.banner-near-footer .section_header {
  padding-top: 3rem;
  width: 700px;
  font-size: 4rem;
  line-height: 1.2;
}
